@page "/"
@using BlazorGenericTable.MA.Components
@using BlazorGenericTable.MA.Models;
@using BlazorGenericTable.MA.UseCase.Client.Models

<h3>TableWithDeleteColumn</h3>
<p>DeletedText => @_deleteText</p>
<p>paginationClick => @_paginationClick</p>
@if (_selectedItems.Count > 0)
{
    <h4>Selected rows Items</h4>
    @foreach (Person person in _selectedItems)
    {
        <p>Name: @person.Name</p>
        <p>Gender: @person.Gender</p>
    }
}

@if (_selectedHeaderItems.Count > 0)
{
    <h4>Selected Header</h4>
    @foreach (Person person in _selectedHeaderItems)
    {
        <p>Name: @person.Name</p>
        <p>Gender: @person.Gender</p>
    }
}

<span>
    <TableCreator TModel="@Person"
                  FetchPageData="@GetPeopleByPageNumber"
                  TableSettings="@_tableSettings"
                  UseDisplayName="true"
                  EnableDeleteButton="true"
                  OnDeleteClick="@OnDeleteClick"
                  EnableSelectBox="true"
                  IsRowsCheckBoxChanged="@IsRowsCheckBoxChanged"
                  IsHeaderCheckBoxChanged="@IsHeaderCheckBoxChanged"
                  PaginationSetting="@_paginationSetting"
                  FirstPageCallback="@FirstPageClick"
                  PageBackwardCallback="@BackwardClick"
                  PageNavigationCallback="@NavigationClick"
                  PageForwardCallback="@ForwardClick"
                  LastPageCallback="@LastPageClick"
                  PageSizeCallback="@PageSizeChanged"
                  LoadingBarSettings="@_LoadingBarSettings"
                  IsTableResponsive="true">
        <FooterContent>
            <tr style="text-align: center">
                <td colspan="9">
                    <p>This is a table footer</p>
                </td>
            </tr>
        </FooterContent>
    </TableCreator>
</span>
<br />